<mat-tab-group class="job-tabs">
  <mat-tab label="requests">
    <div class="tab-container">
      <model-job-item *ngFor="let job of this.jobsService.openRequest$ | async" [job]="job">
        <div class="request-selection">
          <div class="reject" (click)="rejectJob(job)">
            <div class="spacer-container">
              <mat-icon>close</mat-icon>
            </div>
          </div>
          <div class="accept" (click)="acceptJob(job)">
            <div class="spacer-container">
              <mat-icon>check</mat-icon>
            </div>
          </div>
        </div>
      </model-job-item>
    </div>
  </mat-tab>
  <mat-tab label="options">
    <div class="tab-container">
      <model-job-item *ngFor="let job of this.jobsService.jobOptions$ | async" [job]="job">
        <div class="status">
          OPTION
        </div>
      </model-job-item>
    </div>
  </mat-tab>
  <mat-tab label="coming Jobs">
    <div class="tab-container">
      <model-job-item *ngFor="let job of this.jobsService.comingJobs$ | async" [job]="job">
        <div class="status">
          ACCEPTED
        </div>
      </model-job-item>
    </div>
  </mat-tab>
  <mat-tab label="past Jobs">
    <div class="tab-container">
      <model-job-item *ngFor="let job of this.jobsService.pastJobs$ | async" [job]="job">
        <div class="status">
          DONE
        </div>
      </model-job-item>
    </div>
  </mat-tab>
</mat-tab-group>
