<mat-toolbar class="toolbar">
  <span>MyAgency</span>
</mat-toolbar>

<mat-tab-group class="job-tabs">
  <mat-tab label="requests">
    <div class="tab-container">
      <job-item *ngFor="let job of openRequest" [job]="job">
        <div class="request-selection">
          <div class="reject" (click)="rejectJob(job)">
            <div class="spacer-container">
              <mat-icon>close</mat-icon>
            </div>
          </div>
          <div class="accept" (click)="acceptJob(job)">
            <div class="spacer-container">
              <mat-icon>check</mat-icon>
            </div>
          </div>
        </div>
      </job-item>
    </div>
  </mat-tab>
  <mat-tab label="options">
    <div class="tab-container">
      <job-item *ngFor="let job of jobOptions" [job]="job">
        <div class="status">
          OPTION
        </div>
      </job-item>
    </div>
  </mat-tab>
  <mat-tab label="coming Jobs">
    <div class="tab-container">
      <job-item *ngFor="let job of comingJobs" [job]="job">
        <div class="status">
          ACCEPTED
        </div>
      </job-item>
    </div>
  </mat-tab>
  <mat-tab label="past Jobs">
    <div class="tab-container">
      <job-item *ngFor="let job of pastJobs" [job]="job">
        <div class="status">
          DONE
        </div>
      </job-item>
    </div>
  </mat-tab>
</mat-tab-group>
