<navigation>
  <button mat-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
</navigation>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" position="end">
    <div class="sidenav-actions">
      <a mat-button routerLink="search">Search</a>
      <a mat-button>Create a Job</a>
      <a mat-button routerLink="jobs">Jobs</a>
      <a mat-button>Profile</a>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="latest-actions">
      <div class="title">News:</div>
      <news-list [news]="userNewsService.clientNews()"></news-list>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
