@import "~src/assets/scss/variables";

.jobContainer {
  background-color: $color-0;
  outline: 0;
  cursor: pointer;
  display: grid;
  align-items: center;

  img {
    width: 100%;
    grid-area: img;
  }

  .infos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "job-title job-title""date models";
    grid-gap: 10px;
    justify-items: center;
    align-content: center;
    text-align: center;
    padding: 10px;

    .job-title {
      grid-area: job-title;
      font-weight: bold;
    }

    .date {
      grid-area: date;
    }

    .models {
      grid-area: models;
    }
  }
}
