<mat-toolbar class="header">
  <span>MyAgency</span>
  <a mat-button routerLink="/register">Register</a>
</mat-toolbar>

<ng-container *ngIf="(authService.user | async) || {} as user">
  <mat-horizontal-stepper [linear]=true>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Who</ng-template>
        <mat-form-field>
          <input matInput placeholder="surname" formControlName="age" required>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="name" formControlName="age" required>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="email" formControlName="age" required>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="password" formControlName="age" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext [disabled]="!firstFormGroup.valid">Next</button>
          <div *ngIf="password.invalid && password.touched">
            <br>
            Password must be between 6 and 24 chars and have at least one number
          </div>
          <div *ngIf="email.invalid && email.touched">
            <br>
            Please check your email again!
          </div>
          <div *ngIf="lastName.invalid && lastName.touched">
            <br>
            Please enter your name!
          </div>
          <div *ngIf="firstName.invalid && firstName.touched">
            Please enter your surname!
          </div>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Where</ng-template>
        <mat-form-field>
          <input matInput placeholder="street" formControlName="street" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext [disabled]="secondFormGroup.invalid">Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Body</ng-template>
        <mat-form-field>
          <input matInput placeholder="height" formControlName="height" required>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="taint" formControlName="haircolor" required>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="hair color" formControlName="taint" required>
        </mat-form-field>
        <br>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button [disabled]="thirdFormGroup.invalid" (click)="signup()">signup</button>
          <br>
          <div *ngIf="height.invalid && height.touched">
            Please enter your height
          </div>
          <br>
          <div *ngIf="hairColor.invalid && hairColor.touched">
            Please enter your haircolor
          </div>
          <br>
          <div *ngIf="taint.invalid && taint.touched">
            Please enter your taint
          </div>
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</ng-container>
