<mat-toolbar class="toolbar">
  <span>MyAgency</span>
  <a mat-button routerLink="/register">Register</a>
</mat-toolbar>

<div class="fullscreen intro clothes">
  <img src="assets/images/MyAgency.png">
  <div class="short-description">A platform for models and their clients.</div>
  <div><a mat-button routerLink="./" [fragment]="'discover'">DISCOVER</a></div>
</div>

<div id="discover" class="fullscreen">
  <div class="title">Either you are a model or you need one, here you are completely right.</div>
  <a mat-button class="model-selection" routerLink="./" [fragment]="'discover-model'">MODEL</a>
  <a mat-button class="client-selection" routerLink="./" [fragment]="'discover-client'">CLIENT</a>
</div>

<div id="discover-model" class="fullscreen">
  <div>
    <div class="title">Why models join us</div>
    <div>{{lorem}}</div>
  </div>
  <div class="image manequins"></div>
</div>

<div id="discover-client" class="fullscreen">
  <div class="image tailor"></div>
  <div>
    <div class="title"> Why clients join us</div>
    <div>{{lorem}}</div>
  </div>
</div>

<team-members></team-members>

<div class="footer">
  <span>Impressum</span>
  <span>Datenschutz</span>
  <span>Kontakt</span>
  <span>© MyAgency Gbr</span>
</div>
