@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/basic";

.intro.fullscreen {
  min-height: calc(100vh - #{$header-height});
  display: grid;
  grid-template-columns: calc((90vh - #{$header-height}) / 2) 1fr 1fr;
  grid-column-gap: 5%;
  justify-items: center;
  align-items: center;

  &.clothes {
    background-attachment: fixed;
    background-position-x: 100vmax;
    background-position-y: 40%;
    background-size: 110vmax;
  }

  img {
    height: auto;
    margin-left: calc((-95vh + #{$header-height}) / 2);
    width: calc(100vh - #{$header-height});
  }

  .discover-btn {
    text-shadow: 0 0 5px #fff;
  }
}

#discover {
  display: grid;
  grid-template-areas: ". title title ." ". model client .";
  grid-template-columns: auto;
  grid-template-rows: 20% 80%;
  grid-column-gap: 5%;
  justify-items: center;
  align-items: center;
  background-color: $color-200;

  .title {
    grid-area: title;
  }

  .model-selection {
    grid-area: model;
    @extend .full-size-btn;
  }

  .client-selection {
    grid-area: client;
    @extend .full-size-btn;
  }
}

#discover-model, #discover-client {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5%;
  padding: 0 5%;
  width: 90%;

  div {
    margin: 20px 0;
  }

  .reason {
    margin: 0 auto;
  }

  .image {
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position-x: left;
    background-position-y: 30%;
    background-size: 160%;
    background-repeat: no-repeat;
  }
}

#discover-client {
  background-color: $color-200;

  .image {
    background-position-x: 1850%;
    background-size: 101%;
  }
}

.footer {
  height: 60px;
  background-color: $color-700;
  color: $light-primary-text;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.title {
  font-size: $title-font-size;
}

.fullscreen {
  width: 100%;
  min-height: 100vh;
}
