.btn {
  width: 100px;
  height: 30px;
  background-color: cornflowerblue;
  border: 1px solid cornflowerblue;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;

  &:hover {
    background-color: white;
    cursor: pointer;
  }
}
