@import "variables";

.full-size-btn {
  width: 100%;
  line-height: 1px;
  height: 1px;
  padding: 50% 0;
  border: 1px solid $color-900;
  border-radius: 0;
}

.toolbar {
  height: $header-height;
  justify-content: space-between;
}
