.clothes {
  background-image: url("assets/images/clothes2.jpg");
}

.manequins {
  background-image: url("assets/images/manequins.jpg");
}

.tailor {
  background-image: url("assets/images/tailor.jpg");
}





