.clothes {
  background-image: url("assets/images/clothes_low.jpg"), url("assets/images/clothes.jpg");
  background-blend-mode: saturation;
}

.manequins {
  background-image: url("assets/images/manequins.jpg");
}

.tailor {
  background-image: url("assets/images/tailor.jpg");
}





