@import "~src/assets/scss/variables";

.tab-container {
  $gaps: 20px;
  min-height: calc(100% - 2 * #{$gaps});
  display: grid;
  grid-gap: $gaps;
  padding: $gaps;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  img {
    height: 100%;
  }

  .col-2 {
    grid-column-end: span 2;
  }

  .row-2 {
    grid-row-end: span 2;
  }
}
