@import "~src/assets/scss/variables";

:host {
  height: 100%;
  display: flex;
  justify-content: center;
  min-height: 100%;
  overflow: auto;

  .tab-container {
    $gaps: 50px;
    max-width: 1000px;
    width: 100%;
    min-height: calc(100% - 2 * #{$gaps});

    .job-info {
      display: grid;
      grid-gap: $gaps;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      background-color: $color-0;
      padding: $gaps;

      div {
        align-self: center;

        img {
          width: 100%;
        }
      }

      .col-2 {
        grid-column-end: span 2;
      }

      .row-2 {
        grid-row-end: span 2;
      }

      .row-3 {
        grid-row-end: span 3;
      }

      .title {
        text-decoration: underline;
      }

      .image {
        justify-self: center;
      }

      .job-name {
        font-weight: bold;
        font-size: $title-font-size;
      }

      .location {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: $gaps;

      }
    }
  }
}
