@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");


img {
  max-width: 80%;
  height: 80%;
  border-radius: 30px;
}

.text-inside-grid {
  position: absolute;
  left: 15px;
}

.mat-tab-group{
  margin-top: -30px;
}
