$gap: 40px;

.page-title {
  margin: $gap/2 $gap;
}

.search-form {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: $gap;
  padding: 0 $gap;
}

.buttonGrid {
  display: grid;
  justify-content: right;
  padding-right: 60px;
}

.paginatorGrid {
  display: grid;
  justify-content: right;
  padding-right: 40px;
}
