@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");

.buttonGrid {
  display: grid;
  justify-content: right;
  padding-right: 60px;
}

.paginatorGrid {
  display: grid;
  justify-content: right;
  padding-right: 40px;
}
