@import "~src/assets/scss/variables";

.dropzone {
  width: 150px;
  height: 150px;
  border: 1px dashed $color-900;
  display: grid;
  justify-content: center;
  align-content: center;

  &.active {
    border: 1px solid $color-300;

    .dropzone-upload-icon {
      color: $color-300;
    }
  }
}
