@import "~src/assets/scss/variables";

$arrow-size: 5px;
$message-box-radius: 3px;

.message {
  background-color: $color-300;
  padding: 5px;
  border-radius: $message-box-radius;
  margin: 5px;
  display: grid;
  grid-template-columns: 1fr auto;
  width: 75%;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    border: ($arrow-size * 2 + $message-box-radius) solid transparent;
    border-top: 0;
    margin-top: 0;
  }

  &.received:before {
    left: 0;
    border-right-color: $color-300;
    border-left: 0;
    margin-left: -$arrow-size * 2 + $message-box-radius;
  }

  &.send {
    float: right;
    background-color: $color-400;

    &:before {
      right: 0;
      border-left-color: $color-400;
      border-right: 0;
      margin-right: -$arrow-size * 2 + $message-box-radius;
    }
  }
}


