<navigation></navigation>

<ng-container *ngIf="(authService.user | async) || {} as user">
  <mat-horizontal-stepper [linear]=true>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup" class="single-step">
        <ng-template matStepLabel>Who</ng-template>
        <mat-form-field>
          <mat-select placeholder="Title" formControlName="title" required>
            <mat-option *ngFor="let title of titles" [value]='title'>
              {{title}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="name" formControlName="firstName" required>
          <mat-error *ngIf="firstName.invalid && firstName.touched">
            Please enter your name
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="surname" formControlName="lastName" required>
          <mat-error *ngIf="lastName.invalid && lastName.touched">
            Please enter your surname
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="birthday" formControlName="birthday" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="tel" placeholder="phone" formControlName="phone" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext [disabled]="firstFormGroup.invalid">
            Next
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup" class="single-step">
        <ng-template matStepLabel>Home</ng-template>
        <mat-form-field>
          <input matInput placeholder="Street" formControlName="street" required>
          <mat-error *ngIf="street.invalid && street.touched">
            Please enter your street
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="City" formControlName="city" required>
          <mat-error *ngIf="city.invalid && city.touched">
            Please enter your city
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Postcode" formControlName="postcode" required>
          <mat-error *ngIf="postcode.invalid && postcode.touched">
            Please enter your postcode
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Country" formControlName="country" required>
            <mat-option *ngFor="let country of countryList" [value]='country'>
              {{country}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext [disabled]="secondFormGroup.invalid">
            Next
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <form [formGroup]="thirdFormGroup" class="single-step">
        <ng-template matStepLabel>Body</ng-template>
        <mat-form-field>
          <mat-select placeholder="height" formControlName="height" required>
            <mat-option *ngFor="let height of heights" [value]='height'>
              {{height}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="hair color" formControlName="hairColor" required>
            <mat-option *ngFor="let color of hairColors" [value]='color'>
              {{color}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="eye color" formControlName="eyeColor" required>
            <mat-option *ngFor="let color of eyes" [value]='color'>
              {{color}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="clothes size" formControlName="clothesSize" required>
            <mat-option *ngFor="let size of clothesSize" [value]='size'>
              {{size}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="hip size" formControlName="hipSize" required>
            <mat-option *ngFor="let hip of hipMeasurement" [value]='hip'>
              {{hip}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="waist size" formControlName="waistSize" required>
            <mat-option *ngFor="let waist of waistMeasurement" [value]='waist'>
              {{waist}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="bust size" formControlName="bustSize" required>
            <mat-option *ngFor="let bust of bustMeasurement" [value]='bust'>
              {{bust}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="shoe size" formControlName="shoeSize" required>
            <mat-option *ngFor="let shoe of shoeMeasurement" [value]='shoe'>
              {{shoe}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext [disabled]="thirdFormGroup.invalid">
            Next
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <div class="single-step">
        <ng-template matStepLabel>Sed Card</ng-template>
        Profile picture
        <mat-divider></mat-divider>
        <file-upload class="file-upload"
                     [maxImages]="1"
                     (uploadFinished)="profilePictureUploadReady = $event"
                     (imageRefListChange)="profilePicture = $event"></file-upload>
        Polaroids
        <mat-divider></mat-divider>
        <file-upload class="file-upload"
                     [maxImages]="3"
                     (uploadFinished)="polariodsPictureUploadReady = $event"
                     (imageRefListChange)="polaroids = $event"></file-upload>
        Sed Card
        <mat-divider></mat-divider>
        <file-upload class="file-upload"
                     [maxImages]="6"
                     (uploadFinished)="sedCardPictureUploadReady = $event"
                     (imageRefListChange)="sedCard = $event"></file-upload>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="finish()" [disabled]="uploadInProgress()">
            FINISH
          </button>
        </div>
      </div>
    </mat-step>

  </mat-horizontal-stepper>
</ng-container>
