<mat-toolbar class="toolbar">
  <span>MyAgency</span>
  <button mat-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" position="end">
    <div class="sidenav-actions">
      <a mat-button>Jobs</a>
      <a mat-button>Messages</a>
      <a mat-button>Bookings</a>
      <a mat-button>Tips & Tricks</a>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="latest-actions">
      <div class="title">News:</div>
      <mat-list>
        <mat-list-item>You are booked for armani!</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>We're sorry to tell you it didn't work out with Calvin Klein. <3 Keep Going!</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>You have a request for armani :)</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>...</mat-list-item>
      </mat-list>
    </div>
    <div class="tip-of-the-day">
      <div class="title">Tip of the Day:</div>
      <mat-list>
        <mat-list-item>The best photos are taken when you are relaxed and completely yourself.</mat-list-item>
      </mat-list>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
