<navigation></navigation>

<ng-container *ngIf="(authService.user | async) || {} as user">
  <mat-horizontal-stepper [linear]=true>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup" class="single-step">
        <ng-template matStepLabel>Company Data</ng-template>
        <mat-form-field>
          <input matInput placeholder="company name" formControlName="companyName" required>
        </mat-form-field>
        Company Logo
        <mat-divider></mat-divider>
        <file-upload class="file-upload"
                     [maxImages]="1"
                     [folderName]="authService.user.getValue().uid"
                     (uploadFinished)="profilePictureUploadReady = $event"
                     (imageRefListChange)="profilePicture = $event"></file-upload>
        <mat-form-field>
          <textarea matInput placeholder="company description" formControlName="companyDescription" required></textarea>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="contact person" formControlName="contact" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="tel" placeholder="phone" formControlName="phone" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext [disabled]="firstFormGroup.invalid || !profilePictureUploadReady">Next
          </button>
        </div>
      </form>
    </mat-step>


    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup" class="single-step">
        <ng-template matStepLabel>Location</ng-template>
        <mat-form-field>
          <input matInput placeholder="Street" formControlName="street" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="City" formControlName="city" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Postcode" formControlName="postcode" required>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Country" formControlName="country" required>
            <mat-option *ngFor="let country of countryList" [value]='country'>
              {{country}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button [disabled]="secondFormGroup.invalid" (click)="signUp()">FINISH</button>
          <br>
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</ng-container>
