<div class="masonry-container">
  <div #card *ngFor="let item of content | slice:0:currentlyDisplayedItems">
    <div class="card-content">
      <mat-card-title>{{item.title}}</mat-card-title>
      <img *ngIf="item.imageSrc"
           [src]="item.imageSrc">
      <span *ngIf="!!item.content">{{item.content}}</span>
    </div>
  </div>
</div>
<button mat-button *ngIf="currentlyDisplayedItems < content.length"
        (click)="currentlyDisplayedItems= currentlyDisplayedItems + displayedItems">more ...
</button>
