<mat-toolbar class="toolbar">
  <span>MyAgency</span>
</mat-toolbar>

<a routerLink="/model/jobs">
  <mat-icon>arrow_back</mat-icon>
</a>
<mat-tab-group class="job-tabs">
  <mat-tab label="requests">
    <div class="tab-container">
      <div>
        {{details.detailedLocation}}
      </div>
      <div>
        {{details.contact}}
      </div>
      <div>
        {{details.photographer}}
      </div>
      <div>
        {{details.jobDetails}}
      </div>
      <div>
        {{details.clientDetails}}
      </div>
    </div>
  </mat-tab>
  <mat-tab label="chat">
    <div class="tab-container">
      chat
    </div>
  </mat-tab>
  <mat-tab label="contracts">
    <div class="tab-container">
      contracts
    </div>
  </mat-tab>
</mat-tab-group>
