@import "~src/assets/scss/variables";

.sidenav-container {
  height: calc(100vh - #{$header-height});

  .sidenav {
    min-width: 250px;

    .sidenav-actions {
      display: flex;
      flex-direction: column;

      a {
        margin: 10px;
      }
    }
  }
}
