<h1 mat-dialog-title>Login</h1>
<div mat-dialog-content class="login-possibilities">
  <div class="social-media-login">
    <div class="google-login"><img src="https://avatars1.githubusercontent.com/u/7328930?v=4"></div>
    <div class="facebook-login"><img
      src="https://www.teltarif.de/arch/2011/kw07/facebook-gefaellt-mir-abamhnung-1m.jpg"></div>
  </div>
  <form [formGroup]="loginFormGroup" class="mail-login">
    <mat-form-field>
      <input matInput placeholder="Email" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getMailErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Password" [formControl]="password">
    </mat-form-field>
    <button mat-button (click)="mailLogin()">Login</button>
  </form>
</div>
