<mat-toolbar class="header">
  <span>MyAgency</span>
  <a mat-button routerLink="/register">Register</a>
</mat-toolbar>
<form [formGroup]="formGroup">
  <mat-grid-list cols="3">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>
      <div class="selection-container">
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="password" formControlName="password" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Company name" formControlName="content" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Street" formControlName="content" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="City" formControlName="content" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Postcode" formControlName="content" required>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Select" required>
            <mat-option *ngFor="let country of countryList">
              {{country}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
  </mat-grid-list>
</form>
