@import "assets/scss/browser-clear";
@import "assets/scss/basic";
@import "assets/scss/marterials-theme";
@import "assets/scss/images";
/*make themes working*/
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
