@import "assets/scss/browser-clear";
@import "assets/scss/basic";
@import "assets/scss/marterials-theme";

app-root {
  display: flex;
  align-items: center;
  flex-direction: column;
}

html, body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
