html {
  background: url(app/data/start_backround.jpg) no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

app-root {
  display: flex;
  align-items: center;
  flex-direction: column;
}
