<div *ngIf="!!currentJob" class="tab-container">
  <div class="job-details">
    <img class="col-2 row-2" *ngIf="jobImage" [src]="jobImage">
    <div class="header">
      {{currentJob.job.title}}
    </div>
    <div class="col-2">
      <div class="title">Date:</div>
      <span>{{currentJob.job.date}}</span>
    </div>
    <div class="col-2 location">
      <div>
        <div class="title">Location:</div>
        <span>{{currentJob.job.location}}</span>
      </div>
      <here-map [address]="currentJob.job.location"></here-map>
    </div>
    <div class="col-2">
      <div class="title">Job details:</div>
      <span>{{currentJob.job.description}}</span>
    </div>
  </div>
  <mat-accordion>
    <client-job-model-details *ngFor="let modelJob of currentJob.bookings"
                              [modelJob]="modelJob"
                              (modelAccepted)="acceptModel($event)"></client-job-model-details>
  </mat-accordion>
</div>
