<div *ngIf="!!currentJob" class="tab-container">
  <div class="job-details">
    <div class="header">
      {{currentJob.title}}
    </div>
    <div class="col-2 location">
      <div>
        <div class="title">Location:</div>
        <span>{{currentJob.location}}</span>
      </div>
      <here-map [address]="currentJob.location"></here-map>
    </div>
    <div class="col-2">
      <div class="title">Job details:</div>
      <span>{{currentJob.description}}</span>
    </div>
  </div>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let model of currentJob.models">
      <mat-expansion-panel-header>
        <mat-panel-title *ngIf="modelService.getModel(model.modelId) as modelDetails">
          {{modelDetails.name}}
        </mat-panel-title>
        <mat-panel-description>
          Status: {{JobStatus[model.status]}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="content" *ngIf="modelService.getModel(model.modelId) as modelDetails">
        <div class="model-informations">
          <img mat-card-image src="../../../../assets/images/models/{{model.modelId}}.jpg" alt="profile_pic">
          <div>height: {{modelDetails.height}}</div>
          <div>size:{{modelDetails.size}}</div>
          <div>e-mail: {{modelDetails.email}}</div>
          <div>location: {{modelDetails.location}}</div>
          <div>fee: {{model.fee}}</div>
        </div>
        <button *ngIf="model.status === JobStatus.OPTION" mat-button (click)="acceptModel(model.modelId)">ACCEPT
        </button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
