<navigation>
  <button mat-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
</navigation>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over" position="end" class="sidenav">
    <div class="sidenav-actions">
      <a mat-button (click)="sidenav.toggle()" routerLink="jobs">Jobs</a>
      <a mat-button (click)="sidenav.toggle()" disabled>Messages</a>
      <a mat-button (click)="sidenav.toggle()" [routerLink]="'profile/' + authService.user.getValue().uid">Profile</a>
      <a mat-button (click)="sidenav.toggle()" disabled>Calendar</a>
      <a mat-button (click)="sidenav.toggle()" disabled>Tips & Tricks</a>
      <a mat-button (click)="authService.signOut()" routerLink="/">Logout</a>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
